body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #004d7a, #008793, #00bf72, #a8eb12);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-box {
    background: #f8f9fa;
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0;
    text-align: left;
    font-size: 15px;
}

.login-box, .dashboard {
    background: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    width: 320px;
    text-align: center;
}

h2 {
    color: #004d7a;
}

input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 20px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}

button {
    background: #004d7a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #00789e;
}

.dashboard button {
    display: block;
    width: 100%;
    margin: 10px 0;
    background: #00a896;
}

.dashboard button:hover {
    background: #02c39a;
}

.logout {
    background: #e63946 !important;
}

.error {
    color: red;
    display: none;
}

.note {
    font-size: 12px;
    color: gray;
}
